{% extends 'base.html' %}
{% block content %}

<section class="row g-3">

<div class="col-12 col-xl-6">
    <!-- اضافه کردن کلاس‌های d-flex، align-items-center و gap-2 -->
    <div class="panel h-100 d-flex align-items-center">
        <span class="page-icon"><i class="bi bi-house" aria-hidden="true"></i></span>
        <!-- اضافه کردن mb-0 برای حذف حاشیه پایین پیش‌فرض تگ h2 -->
        <h2 class="mb-0 ms-2">درباره ما</h2>
    </div>
</div>

<div class="col-12 col-xl-6">
        <div class="panel h-100">

            <h2>سمت چپ</h2>
        </div>
    </div>


</section>


{% endblock %}